* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  min-height: 8vh;
  background-color: rgb(1, 1, 44);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  margin-left: 1rem;
}

.links {
  margin-right: 1rem;
  display: flex;
}

.links > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.links > a:not(:last-child) {
  margin: 0 1rem;
}

.mobile-links {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
  transition: 0.5s ease-in;

  min-height: 100vh;
  background: rgb(1, 1, 44);

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
}

// Hero

.hero {
  min-height: 92vh;
  background-image: url("https://images.pexels.com/photos/4458421/pexels-photo-4458421.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 500px) {
  .mobile-menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu > span {
    width: 25px;
    height: 2px;
    background: white;
    display: block;
    transition: all 300ms ease;
    transform-origin: 3px 1px;
  }
  .mobile-menu > span:not(:last-child) {
    margin-bottom: 5px;
  }

  .links {
    display: none;
  }
  .open {
    span:first-child {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:last-child {
      transform: rotate(-45deg);
    }
  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: rgb(1, 1, 44);

    a {
      color: white;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
