* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
}

.navbar {
  min-height: 8vh;
  background-color: rgb(1, 1, 44);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  margin-left: 1rem;
  font-family: "Hachi Maru Pop", cursive;
  text-transform: uppercase;
  font-weight: 800;
}

.links {
  margin-right: 1rem;
  display: flex;
}

.links > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.links > a:not(:last-child) {
  margin: 0 1rem;
}

.mobile-links {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
  transition: 0.5s ease-in;

  min-height: 100vh;
  background: linear-gradient(45, rgba(0, 95, 247, 1) 0%, rgba(2, 0, 36, 1) 35%),
    a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
}

// Hero

.hero {
  min-height: 92vh;
  background: linear-gradient(rgba(2, 0, 36, 0.8), rgba(2, 0, 36, 1)),
    url("https://images.pexels.com/photos/4458421/pexels-photo-4458421.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;

  .left {
    flex: 1;
    padding: 2rem;
    .name {
      text-align: left;
      color: rgb(94, 94, 192);
      margin: 2rem 1.7rem;
      line-height: 1.5;

      & > span {
        color: white;
      }
    }

    p {
      margin: 1.7rem 2rem 0;
    }
    .testbutton {
      font-family: arial;
      color: white !important;
      font-size: 1.3rem;
      border: none;
      padding: 10px 25px;
      border-radius: 10px;
      margin: 1.7rem 2rem 0;

      background: rgb(1, 1, 44);
    }
    .testbutton:hover {
      color: #14396a !important;
      background: #468ccf;
      background: linear-gradient(to top, #468ccf, #63b8ee);
    }
  }
  .right {
    padding: 2rem;
    flex: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 500px) {
  .mobile-menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu > span {
    width: 25px;
    height: 2px;
    background: white;
    display: block;
    transition: all 300ms ease;
    transform-origin: 3px 1px;
  }
  .mobile-menu > span:not(:last-child) {
    margin-bottom: 5px;
  }

  .links {
    display: none;
  }
  .open {
    span:first-child {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:last-child {
      transform: rotate(-45deg);
    }
  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: rgb(1, 1, 44);

    a {
      color: white;
      text-decoration: none;
      font-size: 24px;
    }
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center bottom;
    padding: 0 1.5rem;
    background-image: linear-gradient(rgb(1, 1, 44))
      url("https://images.pexels.com/photos/3201630/pexels-photo-3201630.jpeg");

    .left {
      color: white;
      margin-bottom: 1rem;
      font-family: inherit;

      .name {
        text-align: left;
        color: rgb(94, 94, 192);
        margin: 2rem 1.7rem;
        line-height: 1.5;

        & > span {
          color: white;
        }
      }

      p {
        margin: 1.7rem 2rem 0;
      }
      .testbutton {
        font-family: arial;
        color: white !important;
        font-size: 1.3rem;
        border: none;
        padding: 10px 25px;
        border-radius: 10px;
        margin: 1.7rem 2rem 0;

        background: rgb(1, 1, 44);
      }
      .testbutton:hover {
        color: #14396a !important;
        background: #468ccf;
        background: linear-gradient(to top, #468ccf, #63b8ee);
      }
    }
  }
}
